
<div class="wrapper">
    <h1>Rock The Below Quiz</h1>
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                          <div class="inner">
                              <p>Angular</p>
                <span>Type:Choose</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                            <p>This quiz will have basic Angular Questions</p>
                            <!-- <a class="waves-effect waves-light btn-large">Take Test</a> -->
                         </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                        <div class="inner">
                            <p>Machine Learning</p>
              <span>Type:Choose</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>This quiz will have basic Angular Questions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                        <div class="inner">
                            <p>Java Script</p>
              <span>Type:Choose</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>This quiz will have basic Angular Questions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                        <div class="inner">
                            <p>SQL</p>
              <span>Type:Choose</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                        <div class="inner">
                            <p>Python</p>
              <span>Type:Choose</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                        <div class="inner">
                            <p>C++</p>
              <span>Type:Choose</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                        <div class="inner">
                            <p>C</p>
              <span>Type:Choose</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://i.picsum.photos/id/574/500/500.jpg?hmac=QFubHWeJjrpE7zQbEWf2Bgx61bZmIxvA88tQUUTGbRE)">
                        <div class="inner">
                            <p>Java</p>
              <span>Type:Choose</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>   
   </div>
