<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <div class="box"  >   <h1>login</h1>
                <input type="text" name="" placeholder="Username" [(ngModel)]=username>
                <input type="password" name="" placeholder="Password" [(ngModel)]=password>
                <input type="submit" value="Login" (click)="login()" onclick="M.toast({html: 'Logged in Successfully', classes: 'rounded'})">
            </div> 
            <li></li>
            <li></li>
            <li></li>
            </ul>
</div>



